body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #ecf0f1;
}

/* Sidebar completo */
.sidebar {
  width: 250px;
  background-color: #4271a1;
  color: white;
  height: 100vh;
  transition: width 0.3s;
  overflow-y: auto;
}

.sidebar.collapsed {
  width: 90px;
}

/* Botón toggle */
.toggle-btn {
  text-align: right;
  padding: 10px;
  cursor: pointer;
}

/* Título */
.titulo {
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  transition: opacity 0.3s;
}

.sidebar.collapsed .titulo {
  opacity: 0;
}

/* Menú principal */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu > li {
  position: relative;
}
.submenu {
  list-style: none;
  padding-left: 0;
}

.submenu li {
  list-style: none;
}

.menu li a,
.submenu-header {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}

.menu li a:hover,
.submenu-header:hover {
  background-color: #34495e;
}

.menu i {
  width: 20px;
  min-width: 20px;
  text-align: center;
  margin-right: 10px;
}

.sidebar.collapsed span {
  display: none;
}

/* Submenú */
.submenu {
  display: none;
  flex-direction: column;
  background-color: #34495e;
}

.submenu li a {
  padding-left: 45px;
  font-size: 14px;
  color: #ccc;
}

.submenu li a:hover {
  color: white;
}

.submenu.show {
  display: flex;
}

/* Flecha de despliegue */
.arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.arrow.rotate {
  transform: rotate(180deg);
}

/* Contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
}
